@media (max-width: 1199px) {
    .container {
        max-width: 920px;
        padding: 0 60px;
    }
    .title {
        font-size: 26px;
        &_left {
            font-size: 30px;
        }
    }
    .button {
        height: 27px;
        font-size: 11px;
        &_main {
            width: 280px;
            height: 50px;
            font-size: 14px;
        }
        &_submit {
            height: 56px;
            width: 100%;
            font-size: 15px;
        }
        &_mini {
            width: 100px;
            height: 38px;
            font-size: 12px;
        }
    }
    .header {
        &__logo {
            width: 225px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 17px;
            }
        }
        &__phone {
            font-size: 17px;
        }
    }
    .promo {
        min-height: 630px;
        padding: 21px 0 88px 0;
        &__header {
            font-size: 36px;
            line-height: 36px;
        }
        &__subheader {
            margin-top: 8px;
            font-size: 20px;
            line-height: 20px;
        }
        &__icons {
            width: 360px;
        }
        &__icon {
            width: 100px;
            font-size: 11px;
            img {
                width: 40px;
            }
        }
        &__link {
            margin-top: 8px;
            font-size: 14px;
        }
    }
    .advantages {
        min-height: 458px;
        padding: 70px 0 62px 0;
        &__wrapper {
            margin-top: 56px;
        }
        &__item {
            width: 240px;
            img {
                width: 65px;
            }
        }
        &__subtitle {
            margin-top: 30px;
            font-size: 16px;
        }
        &__descr {
            margin-top: 24px;
            font-size: 12px;
        }
    }
    .consultation {
        min-height: 618px;
        padding: 92px 0 102px 0;
        &__descr {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .feed-form {
        &_mt25 {
            width: 100%;
        }
        input {
            height: 48px;
            font-size: 12px;
        }
        input.error {
            margin-bottom: 8px;
            font-size: 12px;
        }
        label.error {
            margin-bottom: 8px;
            font-size: 12px;
        }
    }
    .carousel {
        padding: 77px 0 30px 0;
        &__inner {
            width: 600px;
            img {
                max-width: 100%;
            }
        }
        .slick-prev {
            left: -60px;
            img {
                width: 29px;
                height: 45px;
            }
        }
        .slick-next {
            right: -60px;
            img {
                width: 29px;
                height: 45px;
            }
        }
    }
    .catalog {
        &__tabs {
            padding-top: 38px;
        }
        &__tab {
            width: 210px;
            font-size: 16px;
            &_active {
                line-height: 48px;
            }
        }
        &__content {
            margin-top: 58px;
        }
        &-item {
            width: 253px;
            min-height: 428px;
            &__list {
                min-height: 298px;
                li {
                    font-size: 12px;
                }
            }
            &__back {
                font-size: 12px;
            }
            &__img {
                height: 180px;
            }
            &__subtitle {
                margin-top: 16px;
                font-size: 14px;
            }
            &__descr {
                margin-top: 14px;
                font-size: 12px;
                line-height: 18px;
            }
            &__link {
                margin-top: 14px;
                font-size: 12px;
            }
            &__old-price {
                font-size: 12px;
            }
            &__price {
                font-size: 16px;
            }
        }
    }
    .feed {
        min-height: 866px;
        margin-top: 54px;
        &__item {
            margin-top: 53px;
        }
        &__title {
            font-size: 16px;
        }
        &__descr {
            margin-left: 56px;
        }
        &__subtitle {
            font-size: 12px;
        }
        &__text {
            margin-top: 8px;
            font-size: 14px;
            span {
                margin-top: 8px;
            }
        }
    }
    .footer {
        height: 600px;
        margin-top: 45px;
        iframe {
            height: 600px;
        }
        &__info {
            padding: 45px;
            width: 430px;
            height: 240px;
        }
        &__addr {
            font-size: 18px;
            margin-bottom: 32px;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 32px;
        }
        &__social-item {
            width: 45px;
            height: 45px;
            img {
                height: 27px;
                width: 20px;
            }
        }
    }
    .modal {
        width: 328px;
        min-height: 355px;
        padding: 22px 30px 34px 30px;
        &__close {
            top: -10px;
            right: -32px;
            font-size: 50px;
            line-height: 50px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            margin-top: 5px;
            font-size: 11px;
        }
        input {
            margin-bottom: 16px;
            height: 44px;
        }
        .button_submit {
            height: 50px;
            font-size: 14px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
        padding: 0 16px;
    }
    .title {
        font-size: 22px;
        &_left {
            font-size: 26px;
        }
    }
    .button {
        height: 25px;
        font-size: 10px;
        width: 94%;
        &_main {
            width: 230px;
            font-size: 11px;
            height: 44px;
        }
        &_submit {
            height: 50px;
            width: 100%;
            font-size: 14px;
        }
        &_mini {
            width: 84px;
            height: 34px;
            font-size: 11px;
        }
    }
    .header {
        &__logo {
            width: 180px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        min-height: 580px;
        &__header {
            font-size: 31px;
            line-height: 28px;
        }
        &__subheader {
            margin-top: 6px;
            font-size: 17px;
            line-height: 17px;
        }
        &__icons {
            width: 300px;
        }
        &__icon {
            width: 86px;
            font-size: 9px;
            img {
                width: 32px;
                margin-bottom: 18px;
            }
        }
        &__link {
            margin-top: 6px;
            font-size: 11px;
        }
    }
    .advantages {
        min-height: 396px;
        padding: 60px 0 52px 0;
        &__wrapper {
            margin-top: 52px;
        }
        &__item {
            width: 200px;
            img {
                width: 60px;
            }
        }
        &__subtitle {
            margin-top: 24px;
            font-size: 12px;
        }
        &__descr {
            margin-top: 18px;
            font-size: 10px;
            line-height: 17px;
        }
    }
    .consultation {
        min-height: 562px;
        padding: 84px 0 94px 0;
        &__descr {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .feed-form {
        width: 280px;
        margin-top: 32px;
        &_mt25 {
            width: 100%;
            margin-top: 20px;
        }
        input {
            height: 44px;
            font-size: 11px;
        }
        input.error {
            margin-bottom: 7px;
            font-size: 11px;
        }
        label.error {
            margin-bottom: 7px;
            font-size: 11px;
        }
    }
    .carousel {
        padding: 70px 0 30px 0;
        &__inner {
            width: 500px;
            img {
                max-width: 100%;
            }
        }
        .slick-prev {
            left: -50px;
            img {
                width: 25px;
                height: 40px;
            }
        }
        .slick-next {
            right: -50px;
            img {
                width: 25px;
                height: 40px;
            }
        }
    }
    .catalog {
        &__tabs {
            padding-top: 32px;
        }
        &__tab {
            width: 180px;
            height: 44px;
            font-size: 13px;
            line-height: 38px;
            div {
                height: 44px;
            }
            &_active {
                line-height: 42px;
            }
        }
        &__content {
            margin-top: 52px;
        }
        &-item {
            width: 216px;
            min-height: 384px;
            &__list {
                min-height: 265px;
                li {
                    font-size: 10px;
                }
            }
            hr {
                margin-top: 18px;
                margin-bottom: 20px;
            }
            &__back {
                font-size: 10px;
            }
            &__img {
                height: 140px;
            }
            &__subtitle {
                margin-top: 16px;
                font-size: 11px;
            }
            &__descr {
                margin-top: 14px;
                font-size: 10px;
                line-height: 16px;
            }
            &__link {
                margin-top: 14px;
                font-size: 10px;
            }
            &__old-price {
                font-size: 10px;
            }
            &__price {
                font-size: 13px;
            }
        }
    }
    .feed {
        min-height: 674px;
        margin-top: 40px;
        &__item {
            margin-top: 46px;
        }
        &__img {
            width: 139px;
            height: 139px
        }
        &__descr {
            margin-left: 42px;
        }
        &__title {
            font-size: 14px;
        }
        &__subtitle {
            font-size: 10px;
        }
        &__text {
            margin-top: 8px;
            font-size: 11px;
            line-height: 20px;
            span {
                margin-top: 6px;
            }
        }
    }
    .footer {
        max-height: 550px;
        margin-top: 40px;
        iframe {
            height: 550px;
        }
        &__info {
            padding: 44px;
            width: 380px;
            height: 220px;
        }
        &__addr {
            font-size: 16px;
            margin-bottom: 24px;
        }
        &__phone {
            font-size: 16px;
            margin-bottom: 24px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                width: 18px;
                height: 22px;
            }
        }
    }
    .modal {
        width: 262px;
        min-height: 276px;
        padding: 16px 24px 28px 24px;
        &__close {
            right: -28px;
            font-size: 42px;
            line-height: 42px;
        }
        &__subtitle {
            font-size: 12px;
        }
        &__descr {
            margin-top: 3px;
            font-size: 9px;
        }
        input {
            margin-bottom: 12px;
            height: 34px;
            font-size: 9px;
        }
        input.error {
            font-size: 9px;
        }
        label.error {
            font-size: 9px;
        }
        .button_submit {
            height: 40px;
            font-size: 11px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
        padding: 0 10px;
    }
    .title {
        font-size: 18px;
        &_left {
            font-size: 20px;
        }
    }
    .button {
        height: 22px;
        font-size: 9px;
        &_main {
            width: 200px;
            height: 40px;
            font-size: 10px;
        }
        &_submit {
            width: 100%;
            height: 44px;
            font-size: 12px;
        }
        &_mini {
            width: 100px;
            height: 32px;
            font-size: 11px;
        }
    }
    .header {
        &__logo {
            width: 145px;
        }
        &__official {
            font-size: 8px;
            span {
                font-size: 13px;
            }
        }
        &__phone {
            font-size: 13px;
        }
    }
    .promo {
        min-height: 536px;
        padding: 18px 0 71px 0;
        &__header {
            font-size: 25px;
            line-height: 25px;
        }
        &__subheader {
            margin-top: 2px;
            font-size: 14px;
            line-height: 14px;
        }
        &__icons {
            width: 280px;
        }
        &__icon {
            width: 80px;
            font-size: 9px;
            img {
                width: 30px;
                margin-bottom: 14px;
            }
        }
        &__link {
            margin-top: 6px;
            font-size: 10px;
        }
    }
    .advantages {
        min-height: 328px;
        padding: 46px 0 40px 0;
        &__wrapper {
            margin-top: 44px;
        }
        &__item {
            width: 150px;
            img {
                width: 50px;
            }
        }
        &__subtitle {
            margin-top: 20px;
            font-size: 11px;
        }
        &__descr {
            margin-top: 14px;
            font-size: 9px;
            line-height: 15px;
        }
    }
    .consultation {
        min-height: 450px;
        padding: 65px 0 75px 0;
        &__descr {
            font-size: 12px;
            line-height: 16px;
        }
    }
    .feed-form {
        width: 240px;
        margin-top: 25px;
        &_mt25 {
            width: 100%;
            margin-top: 12px;
        }
        input {
            margin-bottom: 15px;
            padding: 0 20px;
            height: 36px;
            font-size: 9px;
        }
        input.error {
            height: 36px;
            font-size: 9px;
            margin-bottom: 5px;
        }
        label.error {
            font-size: 9px;
            margin-bottom: 5px;
        }
    }
    .carousel {
        padding: 55px 0 30px 0;
        &__inner {
            width: 400px;
            .slick-dots {
                margin: 0 auto;
                padding: 0;
                width: 180px;
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                li {
                    button {
                        background-color: #f0f0f0;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        font-size: 0px;
                        border: 2px solid #6b6b6b;
                    }
                }
                li.slick-active {
                    button {
                        background-color: #c70101;
                    }
                }
            }
            img {
                max-width: 100%;
            }
        }
    }
    .catalog {
        &__tabs {
            padding-top: 26px;
        }
        &__tab {
            width: 140px;
            height: 40px;
            font-size: 11px;
            line-height: 36px;
            div {
                height: 40px;
            }
            &_active {
                line-height: 38px;
            }
        }
        &__content {
            margin-top: 48px;
        }
        &-item {
            width: 250px;
            padding: 18px 22px 20px 22px; 
            min-height: 338px;
            &__list {
                min-height: 230px;
                li {
                    font-size: 10px;
                }
            }
            hr {
                margin-top: 16px;
                margin-bottom: 18px;
            }
            &__back {
                font-size: 10px;
            }
            &__img {
                height: 125px;
            }
            &__subtitle {
                margin-top: 16px;
                font-size: 11px;
            }
            &__descr {
                margin-top: 12px;
                font-size: 10px;
                line-height: 16px;
            }
            &__link {
                margin-top: 14px;
                font-size: 10px;
            }
            &__old-price {
                font-size: 11px;
            }
            &__price {
                font-size: 14px;
            }
        }
    }
    .feed {
        min-height: 580px;
        margin-top: 26px;
        &__item {
            margin-top: 34px;
        }
        &__img {
            width: 119px;
            height: 119px
        }
        &__descr {
            margin-left: 36px;
        }
        &__title {
            font-size: 11px;
        }
        &__subtitle {
            font-size: 8px;
        }
        &__text {
            margin-top: 8px;
            font-size: 9px;
            line-height: 16px;
            span {
                margin-top: 4px;
            }
        }
    }
    .footer {
        max-height: 400px;
        margin-top: 30px;
        iframe {
            height: 400px;
        }
        &__info {
            padding: 22px;
            width: 260px;
            height: 146px;
        }
        &__addr {
            font-size: 12px;
            margin-bottom: 12px;
        }
        &__phone {
            font-size: 12px;
            margin-bottom: 12px;
        }
        &__social-item {
            width: 30px;
            height: 30px;
            img {
                width: 14px;
                height: 16px;
            }
        }
    }
    .modal {
        width: 200px;
        min-height: 202px;
        padding: 10px 16px 20px 16px;
        &__close {
            top: -6px;
            right: -22px;
            font-size: 33px;
            line-height: 33px;
        }
        &__subtitle {
            font-size: 9px;
        }
        &__descr {
            margin-top: 3px;
            font-size: 7px;
        }
        input {
            margin-bottom: 10px;
            padding: 0 15px;
            height: 26px;
            font-size: 7px;
        }
        input.error {
            margin-bottom: 4px;
            height: 26px;
            font-size: 7px;
        }
        label.error {
            margin-bottom: 4px;
            font-size: 7px;
        }
        .button_submit {
            height: 32px;
            font-size: 9px;
        }
    }
}

@media (max-width: 575px) {
    div.container {
        max-width: 540px;
    }
    .button {
        height: 20px;
        font-size: 8px;
        &_main {
            margin-top: 55px;
            width: 190px;
            height: 38px;
            font-size: 10px;
        }
        &_submit {
            height: 38px;
            width: 100%;
            font-size: 10px;
        }
        &_mini {
            width: 92px;
            height: 30px;
            font-size: 10px;
        }
    }
    .title {
        font-size: 16px;
        &_left {
            font-size: 16px;
        }
    }
    .header {
        &__logo {
            width: 140px;
        }
        &__official {
            &_hidden {
                display: none;
            }
        }
        &__phone {
            font-size: 12px;
        }
    }
    .promo {
        min-height: 436px;
        padding: 8px 0 51px 0;
        &__wrapper {
            margin-top: 75px;
        }
        &__header {
            font-size: 18px;
            line-height: 18px;
        }
        &__subheader {
            font-size: 10px;
            line-height: 10px;
        }
        &__icons {
            width: 215px;
            margin-top: 45px;
        }
        &__icon {
            width: 68px;
            font-size: 7px;
            img {
                width: 25px;
                margin-bottom: 10px;
            }
        }
        &__link {
            margin-top: 6px;
            font-size: 9px;
        }
    }
    .advantages {
        min-height: 556px;
        padding: 40px 0 34px 0;
        &__wrapper {
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 204px;
            margin-top: 20px;
            img {
                width: 44px;
            }
        }
        &__subtitle {
            margin-top: 10px;
            font-size: 11px;
        }
        &__descr {
            margin-top: 8px;
            font-size: 9px;
            line-height: 15px;
        }
    }
    .consultation {
        min-height: 382px;
        padding: 45px 0 55px 0;
        &__descr {
            font-size: 10px;
            line-height: 14px;
        }
    }
    .feed-form {
        width: 200px;
        &_mt25 {
            width: 100%;
            margin-top: 10px;
        }
        input {
            height: 32px;
            font-size: 8px;
            margin-bottom: 10px;
        }
        input.error {
            height: 32px;
            margin-bottom: 4px;
            font-size: 8px;
        }
        label.error {
            font-size: 8px;
            margin-bottom: 4px;
        }
    }
    .carousel {
        padding: 55px 0 30px 0;
        &__inner {
            width: 250px;
            .slick-dots {
                width: 120px;
                li {
                    button {
                        width: 15px;
                        height: 15px;
                        border: 1px solid #6b6b6b;
                    }
                }
            }
            img {
                max-width: 100%;
            }
        }
    }
    .catalog {
        &__tabs {
            padding-top: 8px;
            flex-direction: column;
        }
        &__tab {
            margin-top: 10px;
            height: 34px;
            font-size: 10px;
            line-height: 30px;
            div {
                height: 34px;
            }
            &:hover {
                box-shadow: 2px 2px 10px #6b6b6b;
            }
            &_active {
                line-height: 34px;
            }
        }
        &__content {
            margin-top: 38px;
            justify-content: center;
        }
        &-item {
            width: 240px;
            padding: 18px 22px 18px 22px; 
            min-height: 312px;
            &__list {
                min-height: 204px;
                li {
                    font-size: 9px;
                }
            }
            hr {
                margin-bottom: 16px;
            }
            &__back {
                font-size: 9px;
            }
            &__img {
                height: 110px;
            }
            &__subtitle {
                margin-top: 14px;
                font-size: 10px;
            }
            &__descr {
                margin-top: 12px;
                font-size: 9px;
                line-height: 14px;
            }
            &__link {
                margin-top: 12px;
                font-size: 9px;
            }
            &__old-price {
                font-size: 10px;
            }
            &__price {
                font-size: 13px;
            }
        }
    }
    .feed {
        min-height: 592px;
        margin-top: 20px;
        padding: 0 10px;
        &__item {
            margin-top: 26px;
        }
        &__img {
            width: 89px;
            height: 89px
        }
        &__descr {
            margin-left: 22px;
        }
        &__title {
            font-size: 10px;
        }
        &__subtitle {
            font-size: 7px;
        }
        &__text {
            margin-top: 6px;
            font-size: 8px;
            line-height: 14px;
            span {
                margin-top: 6px;
            }
        }
    }
    .footer {
        max-height: 350px;
        margin-top: 26px;
        iframe {
            height: 350px;
        }
        &__info {
            padding: 14px;
            width: 215px;
            height: 102px;
        }
        &__addr {
            font-size: 10px;
            line-height: 9px;
            margin-bottom: 10px;
        }
        &__phone {
            font-size: 11px;
            margin-bottom: 10px;
        }
        &__social-item {
            width: 24px;
            height: 24px;
            img {
                width: 10px;
                height: 12px;
            }
        }
    }
    .modal {
        width: 178px;
        min-height: 192px;
        padding: 10px 16px 20px 16px;
        &__close {
            top: -6px;
            right: -18px;
            font-size: 30px;
            line-height: 30px;
        }
        &__subtitle {
            font-size: 8px;
        }
        &__descr {
            margin-top: 2px;
            font-size: 6px;
        }
        input {
            margin-bottom: 8px;
            padding: 0 15px;
            height: 25px;
            font-size: 7px;
        }
        input.error {
            height: 25px;
            font-size: 7px;
            margin-bottom: 4px;
        }
        label.error {
            margin-bottom: 4px;
            font-size: 7px;
        }
        .button_submit {
            height: 30px;
            font-size: 8px;
        }
    }
}