.consultation {
    min-height: 670px;
    padding: 100px 0 110px 0;
    background: url('../img/consultation.jpg') center (center/cover) no-repeat;
    &__descr {
        margin-top: 8px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 10px;
        font-size: 14px;
    }
}