.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    &_mt25 {
        margin-top: 26px;
    }
    input {
        height: 50px;
        border-radius: 5px;
        border: none;
        background-color: #ffffff;
        margin-bottom: 20px;
        padding: 0 20px;
        color: #4B4B4B;
        font-weight: 400;
        font-size: 14px;
    }
    input.error {
        margin-bottom: 10px;
    }
}