.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.56);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background-color: #F2F2F2;
    padding: 38px 37px 40px 37px;
    &__close {
        position: absolute;
        top: -15px;
        right: -38px;
        font-size: 54px;
        line-height: 54px;
        color: $main-color;
        cursor: pointer;
    }
    &__subtitle {
        color: #0D0D0D;
        font-weight: 700;
        font-size: 17px;
        text-align: center;
    }
    &__descr {
        margin-top: 10px;
        color: #0D0D0D;
        font-weight: 700;
        font-size: 13px;
        text-align: center;
    }
    &_mini {
        min-height: 140px;
    }
}

#consultation, #order, #thanks {
    display: none;
}